backend/vendor/*
hack/.env
backend/backend
backend/cplus/ipc.o
backend/config/.config.yaml
backend/**/.*.swp
**/.*.swp
images/*
release/

backend/cplus/model
backend/cplus/lib
backend/cplus/include
build/model
build/lib
thrift/include
thrift/model
thrift/lib
build/include
